<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleIndex.css">
</head>
<body>
    <h1>Listar</h1>
    <table border="2">
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Correo</td>
            <td>Acciones</td>
        </tr>
        <% users.forEach(users=>{ %>
        <tr>
            <td><%= users.id %></td>
            <td><%= users.usuario %></td>
            <td><%= users.correo %></td>
            <td class="action-links">
                <a href="/edit/<%= users.id %>">Editar</a>
                <a href="/delete/<%= users.id %>">Eliminar</a>
            </td>
        </tr>
        <% }); %>
    </table>
    <br><br>
    <a class="add-button" href="/add">Agregar Usuario</a>
</body>
</html>